<!doctype html>
<!--suppress HtmlUnknownTag -->
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Vue Learning</title>
		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.css">
		<style type="text/css">body { padding-top: 40px; }</style>
	</head>
	<body>
		
		<div id="root" class="container">
			
			<message title="Hello World" body="Lorem ipsum dolar sit amet"></message>
			<message title="Hello Universe" body="Bla bla bla"></message>
			
		</div>
		
		<script src="https://unpkg.com/vue@2.3.3/dist/vue.js"></script>
		<script src="js/mainMessage.js"></script>
	</body>
</html>